BOT_TOKEN="" // Telegram bot token
CHAT_ID="" // Telegram chat ID to send alerts to

DVR_USER=admin
DVR_PASSWORD="" // Password for the DVR system
DVR_IP= "" // IP address of the DVR system

SUBTYPE=1
ALERT_COOLDOWN=20

# Cameras

CAMERA_1_CHANNEL='' // Channel number for camera 1
CAMERA_1_NAME='' // Name for camera 1

CAMERA_2_CHANNEL='' // Channel number for camera 2
CAMERA_2_NAME='' // Name for camera 2

CAMERA_3_CHANNEL='' // Any number of camers can be added by following the same pattern
CAMERA_3_NAME='' // Any number of camers can be added by following the same pattern